.container {
  width: 1400px;
  margin: 0 auto;
}

.head {
  display: flex;
  gap: 676px;
  height: 42px;
  margin-left: 99px;
  margin-top: 24px;
}

.navigation {
  display: flex;
  gap: 50px;
  align-items: center;
  margin-top: 12px;
}

.navigation,
a {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  color: #636060;
}

/* section1 */
.main {
  margin-top: 18px;
  gap: 31px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 606px;
  background-image: url(../images/Rectangle\ 1.png);
}

.flex1 {
  font-family: Helvetica;
  font-size: 79px;
  font-weight: 700;
  color: #ffffff;
}

.flex2 {
  font-family: Helvetica;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
}

/* section cards */

.services {
  display: flex;
  gap: 33px;
  flex-wrap: wrap;
  margin-bottom: 400px;
}

.service {
  display: flex;
  flex-direction: column;
  width: 235px;
  height: 115px;
  margin: 84px 73px 0px 90px;
}

.service h4 {
  font-family: Helvetica;
  font-size: 17px;
  font-weight: 400;
  color: #636060;
}

.service h1 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: 400;
  color: #010101;
  margin-top: 9px;
}

.service p {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 400;
  color: #636060;
  margin-top: 37px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 286px;
  height: 195px;
  margin-top: 84px;
}

.card h1 {
  margin-top: 23px;
  font-family: Helvetica;
  font-size: 19px;
  font-weight: 400;
  color: #343232;
}

.card p {
  margin-top: 9px;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 400;
  color: #636060;
}

.card2 {
  display: flex;
  margin: 56px 0 0 430px;
  gap: 33px;
}
